<h1>Product#product_updated</h1>

<p>
  <%= @greeting %>,
  We updated product <%= @product.name %> of ID <%= @product.id %>
  <br><br>
  <%= image_tag attachments['paris.jpeg'].url, alt: 'Paris Image', width: 300 %>
</p>
